.Login-Container{
   margin:auto;
   width:20vw;
   height:20vh;
   transform: translateY(40vh);
}

.Login-Container button{
    width:15vw;
    height:7vh;
    color:rgb(56, 18, 18);
    background-color:rgba(178, 32, 191, 0.94);
    border:none;
    border-radius: 7px;
}
.Login-Div{
    /* background-color: black; */
    display: flex;
    margin:auto;
    width:25vw;
    height:18vh;
    transform: translateY(40vh);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
}