.SignupDiv {
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Input {
  padding: 0.8vh 0.5vw;
  width: 20vw;
  margin: 2vh 0;
}

.SubmitButton {
  padding: 0.8vh 0.5vw;
  width: 20vw;
  cursor: pointer;
}
